<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12235615051-o9cm6el64mvar1dsjv5qgomejqk0gsdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12235615051-o9cm6el64mvar1dsjv5qgomejqk0gsdt</string>
	<key>API_KEY</key>
	<string>AIzaSyCHxsHTOM0QkX0b1YAui5_sRmz-uIhvxJc</string>
	<key>GCM_SENDER_ID</key>
	<string>12235615051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snakeGame</string>
	<key>PROJECT_ID</key>
	<string>snake-69694</string>
	<key>STORAGE_BUCKET</key>
	<string>snake-69694.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12235615051:ios:4795cdfce0d48a5a6b56ce</string>
	<key>DATABASE_URL</key>
	<string>https://snake-69694.firebaseio.com</string>
</dict>
</plist>